:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  --gap: 24px;
  --main-color: rgb(6, 31, 70);
  --theme-color: #29292a;
  --light-color: rgb(189, 189, 189);
  --card-color: rgb(98, 115, 224);
  --green: #5fc195;
  --red: #c15f5f;
  --shadow: 5px 5px rgba(0, 0, 0, 0.27);
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  padding: var(--gap);
  padding-left: 36px;
  padding-right: 36px;
  background-color: var(--light-color);
  color: var(--main-color);
  font-weight: bold;
  font-size: 1.5rem;

  display: flex;
  gap: 16px;
  align-items: center;

  box-shadow: var(--shadow);
  position: relative;
  z-index: 8;
}

.logo {
  height: 40px;
  width: auto;
}

footer {
  font-size: 10px;
  text-align: center;
  background-color: #1a1a1a;
  padding-left: var(--gap);
  padding-right: var(--gap);
  padding-top: 12px;
  padding-bottom: 12px;
}

main {
  flex: auto;
  background-color: var(--theme-color);

  overflow: auto;
}

.movie-cards {
  display: flex;
  margin: 36px;
  gap: 36px;
  flex-flow: wrap;
}

.movie-card {
  background-color: var(--card-color);
  padding: 16px;
  height: 130px;
  width: 300px;
  border-radius: 20px;
  box-shadow: var(--shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  position: relative;
}

/* Floating icons on movie card */
.edit-movie,
.remove-movie {
  background-color: var(--red);
  border-radius: 50%;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.27);
  font-weight: bolder;
  font-size: 1rem;
  height: 35px;
  width: 35px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: -10px;
  right: -10px;

  cursor: pointer;
}

.edit-movie {
  background-color: #4e4e4e;
  top: -10px;
}

.edit-movie-img,
.remove-movie-img {
  height: 17px;
  width: auto;
}

.remove-movie:hover {
  background-color: rgb(245, 149, 149);
}

.edit-movie:hover {
  background-color: #8c8c8c;
}

.remove-movie:active {
  background-color: rgb(255, 193, 193);
}

.edit-movie:active {
  background-color: rgb(184, 184, 184);
}

.movie-card-text {
  /* background-color: rgb(110, 70, 70); */
  flex: auto;
  font-size: calc(0.6rem + 0.2vw);
}

.rating {
  width: 15px;
  height: auto;

  display: flex;
  align-items: center;
  gap: 1.5px;
}

.watched {
  background-color: var(--theme-color);
  /* color: var(--main-color); */
  box-shadow: var(--shadow) inset;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  position: relative;
  min-height: 1rem;
}

.watched-icon-container {
  background-color: #5fc195;
  border-radius: 50%;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.27);
  font-weight: bolder;
  font-size: 1rem;
  height: 25px;
  width: 25px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0px;
  left: 0px;

  cursor: pointer;
}

.watched-icon {
  height: 14px;
}

.watched-text {
  position: absolute;
  top: 0px;
  left: 30px;
  padding-top: 4px;
}

.movie-card-img {
  position: relative;
  top: 0;
  left: 0;
}

.film-svg {
  height: 180px;
  position: relative;
  top: 2px;
  left: 0;
}

.genre-svg-container {
  /* background-color: aliceblue; */
  position: absolute;
  top: 70px;
  left: 50px;
  height: 50px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.genre-svg {
  height: 50px;
  width: auto;
}

.ghost-div {
  min-height: 10vh;
}

.add-movie {
  background-color: var(--light-color);
  border: none;
  color: var(--main-color);
  border-radius: 50%;
  box-shadow: var(--shadow);
  font-weight: bolder;
  font-size: 3rem;
  height: 60px;
  width: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 60px;
  right: 30px;

  cursor: pointer;
}

.add-movie-img {
  height: 30px;
  width: auto;
}

.add-movie:hover {
  background-color: rgb(101, 142, 209);
}

.add-movie:active {
  background-color: rgb(200, 221, 255);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #e4e4e4;
  border-radius: 20px;
  margin: 10% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 320px; /* Could be more or less, depending on screen size */
  /* height: 300px; */
  accent-color: var(--main-color);
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input,
select,
label {
  margin-top: 5px;
  width: 250px;
  display: block;
}

select {
  width: 260px;
}

input,
select {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
}

input:invalid,
select:invalid {
  border-color: red;
  border-style: dashed;
  border-width: 2px;
}

/* input:valid,
select:valid {
  border-color: rgb(220, 220, 220);
} */

label {
  color: rgb(89, 89, 89);
  font-size: 14px;
  font-weight: bold;
}

/* input[type="checkbox"] {
  width: 25px;
  border-radius: 50%;
  border: none;
} */

/* --- CUSTOM CHECKBOX --- */

/* The container */
.movie-watched {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.movie-watched input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.movie-watched:hover input ~ .checkbox-checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.movie-watched input:checked ~ .checkbox-checkmark {
  background-color: var(--main-color);
}

/* Create the checkbox-checkmark/indicator (hidden when not checked) */
.checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkbox-checkmark when checked */
.movie-watched input:checked ~ .checkbox-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.movie-watched .checkbox-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.movie-ratings {
  display: flex;
  flex-direction: column;
  width: 265px;
}

.rating-radio {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  gap: 12px
}

/* --- CUSTOM CHECKBOX --- */

.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  /* font-size: 22px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: var(--main-color);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.submit-movie {
  padding: 10px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  border-radius: 15px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  cursor: pointer;
}
