:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  --gap: 24px;
  --main-color: rgb(6, 31, 70);
  --theme-color: #29292a;
  --light-color: rgb(189, 189, 189);
  --card-color: rgb(98, 115, 224);
  --shadow: 5px 5px rgba(0, 0, 0, 0.27);
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  padding: var(--gap);
  padding-left: 36px;
  padding-right: 36px;
  background-color: var(--light-color);
  color: var(--main-color);
  font-weight: bold;
  font-size: 1.5rem;

  display: flex;
  gap: 16px;
  align-items: center;
  
  box-shadow: var(--shadow);
  position: relative;
  z-index: 8;
}

.logo {
  height: 40px;
  width: auto;
}

footer {
  font-size: 10px;
  text-align: center;
  background-color: #1a1a1a;
  padding-left: var(--gap);
  padding-right: var(--gap);
  padding-top: 12px;
  padding-bottom: 12px;
}

main {
  flex: auto;
  background-color: var(--theme-color);

  /* padding: var(--gap); */
  overflow: auto;
}

.movie-cards {
  /* height: 100%; */
  /* width: 100%; */
  display: flex;
  margin: 36px;
  gap: 36px;
  flex-flow: wrap;
}

.movie-card {
  background-color: var(--card-color);
  /* color: var(--main-color); */
  padding: 16px;
  height: 130px;
  width: 300px;
  border-radius: 20px;
  box-shadow: var(--shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  /* overflow: visible; */
  position: relative;
}

/* Floating icons on movie card */
.edit-movie,
.remove-movie {
  background-color: #c15f5f;
  border-radius: 50%;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.27);
  font-weight: bolder;
  font-size: 1rem;
  height: 35px;
  width: 35px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: -10px;
  right: -10px;

  cursor: pointer;
}

.edit-movie {
  background-color: #4e4e4e;
  top: -10px
}

.edit-movie-img,
.remove-movie-img {
  height: 17px;
  width: auto;
}

.remove-movie:hover {
  background-color: rgb(245, 149, 149);
}

.edit-movie:hover {
  background-color: #8c8c8c;
}

.remove-movie:active {
  background-color: rgb(255, 193, 193);
}

.edit-movie:active {
  background-color: rgb(184, 184, 184);
}

.movie-card-text {
  /* background-color: rgb(110, 70, 70); */
  flex: auto;
  font-size: calc(0.6rem + 0.2vw);
}

.rating {
  width: 15px;
  height: auto;

  display: flex;
  align-items: center;
  gap: 1.5px;
}

.watched {
  background-color: var(--theme-color);
  /* color: var(--main-color); */
  box-shadow: var(--shadow) inset;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.movie-card-img {
  position: relative;
  top: 0;
  left: 0;
}

.film-svg {
  height: 180px;
  position: relative;
  top: 2px;
  left: 0;
}

.genre-svg-container {
  /* background-color: aliceblue; */
  position: absolute;
  top: 70px;
  left: 50px;
  height: 50px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.genre-svg {
  height: 50px;
  width: auto;
}

.add-movie {
  background-color: var(--light-color);
  color: var(--main-color);
  border-radius: 50%;
  box-shadow: var(--shadow);
  font-weight: bolder;
  font-size: 3rem;
  height: 60px;
  width: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 60px;
  right: 30px;
}

.add-movie-img {
  height: 30px;
  width: auto;
}


